<div th:if="${role}=='ROLE_HOUSEOWNER'">
	<div th:replace="hhead::hhead"></div>
</div>
<div th:if="${role}=='ROLE_TENENT'">
	<div th:replace="thead::thead"></div>
</div>
<div class="container">
	<div class="mt-3" th:each="rentalRequestModel:${rentalRequestModelList}">
		<div class="card p-3 mt-4">
			<div class="row">
				<div class="col-md-4 mt-5">
					<img th:src="@{'data:image/jpeg;base64,' + ${rentalRequestModel['rentalPackageModel']['houseModel']['houseImage']}}" style="height:240px;" alt="Image">
				</div>
				<div class="col-md-8">
					<div class="card p-3 mt-2">
						<div class="h6 text-center">Package Details</div>
						<div class="row">
							<div class="col-md-4">
								<label class="text-secondary h7">Package Title:</label>
								<div class="h6" th:text="${rentalRequestModel.rentalPackageModel.rentalPackageTitle}"></div>
							</div>
							<div class="col-md-4">
								<label class="text-secondary h7">Rent Per Month:</label>
								<div class="h6" th:text="${rentalRequestModel.rentalPackageModel.rentPerMonth}"></div>
							</div>
							<div class="col-md-4">
								<label class="text-secondary h7">Terms Conditions:</label>
								<div class="h6" th:text="${rentalRequestModel.rentalPackageModel.termsConditions}"></div>
							</div>
						</div>
					</div>
					<div class="card p-3 mt-2">
					<div class="h6 text-center">House Details</div>
					<div class="row">
						<div class="col-md-4">
							<label class="text-secondary h7">House Type:</label>
							<div class="h6" th:text="${rentalRequestModel['rentalPackageModel']['houseModel']['houseType']}"></div>
						</div>
						<div class="col-md-4">
							<label class="text-secondary h7">Address:</label>
							<div class="h6" th:text="${rentalRequestModel['rentalPackageModel']['houseModel']['Address']}"></div>
						</div>
						<div class="col-md-4">
							<label class="text-secondary h7">No Of Flors:</label>
							<div class="h6" th:text="${rentalRequestModel['rentalPackageModel']['houseModel']['noOfFlors']}"></div>
						</div>
						<div class="col-md-4">
							<label class="text-secondary h7">NoofBedrooms:</label>
							<div class="h6" th:text="${rentalRequestModel['rentalPackageModel']['houseModel']['noOfBedrooms']}"></div>
						</div>
						<div class="col-md-4">
							<label class="text-secondary h7">NoOfWashrooms:</label>
							<div class="h6" th:text="${rentalRequestModel['rentalPackageModel']['houseModel']['noOfWashrooms']}"></div>
						</div>
						<div class="col-md-4">
							<label class="text-secondary h7">Status</label>
							<div class="h6" th:text="${rentalRequestModel.status}"></div>
							<form th:action="@{'payment'}" method="get">
							  <div th:if="${rentalRequestModel.status}=='Accepted for Rental'">
								  <div th:if="${role}=='ROLE_TENENT'">
									<input type="hidden" name="rentalRequestId" th:value="${rentalRequestModel.rentalRequestId}">
									<input type="submit" value="payment" class="btn btn-secondary w-100">
								  </div>
							 </div>	
							</form>
						</div>
					</div>
					</div>
						<div class="card p-3 mt-3">
						<div class="h6 text-center">Tenents Details</div>	
							<div class="row">
								<div class="col-md-4">
									<label class="text-secondary h7">Name:</label>
									<div class="h6" th:text="${rentalRequestModel['tenentModel']['name']}"></div>
								</div>
								<div class="col-md-4">
									<label class="text-secondary h7">Email:</label>
									<div class="h6" th:text="${rentalRequestModel['tenentModel']['email']}"></div>
								</div>
								<div class="col-md-4">
									<label class="text-secondary h7">Phone:</label>
									<div class="h6" th:text="${rentalRequestModel['tenentModel']['phone']}"></div>
								</div>	
							</div>
						</div>
					<div th:if="${role}=='ROLE_HOUSEOWNER'">
						<div class="row mt-2">
								<div class="col-md-4"></div>
								<div class="col-md-4">
									<form th:action="@{'Reject'}" method="get">
										<div th:if="${rentalRequestModel.status}=='Requested for Rental'">
											<input type="hidden" name="rentalRequestId" th:value="${rentalRequestModel.rentalRequestId}">
											<input type="submit" value="Reject" class="btn btn-danger w-100">
										</div>
									</form>
								</div>
								<div class="col-md-4">
									<form th:action="@{'Accept'}" method="get">
										<div th:if="${rentalRequestModel.status}=='Requested for Rental'">
											<input type="hidden" name="rentalRequestId" th:value="${rentalRequestModel.rentalRequestId}">
											<input type="submit" value="Accept" class="btn btn-success w-100">	
										</div>
									</form>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>